USE [kiwi]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[uspStocksDaily]
AS
BEGIN

SET NOCOUNT ON;

SELECT TOP(900) *
	FROM Stock
	WHERE CONVERT(date, 날짜) = CONVERT(date, GETDATE())
	ORDER BY 거래금액 DESC;

END
GO
